<div class="header arrow"
    (click)="scratchpad.active = !scratchpad.active"
    [ngClass]="{'active': scratchpad.active}">

    <div class="info">
        <div>Info</div>
        <div class="right">
            <button (click)="remove()">remove</button>
        </div>
    </div>
    <div>
        <h3 class="content ellipsis">{{scratchpad.name}}</h3>
    </div>

</div>
<div class="item">
    <form #formElement="ngForm">
        <input type="text" id="item" name="item" #itemElement="ngModel"
            placeholder="New item" required
            [(ngModel)]="itemInput"/>
        <button
            [disabled]="!formElement.form.valid"
            (click)="addItem()">Save</button>
    </form>
</div>

<div class="item arrow" *ngFor="let item of scratchpad.items" (click)="item.active = !item.active"
    [ngClass]="{'active': item.active}">

    <div class="info">
        <div>{{item.time | date:'yyyy-MM-dd HH:mm'}}</div>
        <div class="right">
            <button (click)="modify(item)">edit </button>
            <button (click)="removeItem(item)">remove</button>
        </div>
    </div>
    <div *ngIf="modifyId !== item.id" class="content ellipsis">
        {{item.content}}
    </div>
    <div *ngIf="modifyId === item.id">
        <form #formElement="ngForm">
            <input type="text" id="modifyItem" name="modifyItem"
                #modifyItemElement="ngModel" required
                [(ngModel)]="modifyInput"/>
            <button (click)="modifyId = undefined">cancel</button>
            <button
                [disabled]="!formElement.form.valid"
                (click)="modifyItem(item)">Save</button>
        </form>
    </div>
</div>
