<div *ngIf="scratchpad !== undefined">
    <div class="header" (click)="editScratchpadPopup.show()">
        <div class="info"><div>{{scratchpad.id}}</div></div>
        <div><h3 class="content ellipsis">{{scratchpad.name}}</h3></div>
    </div>
    <button class="item click new-item"
        (click)="newItemPopup.show()">New item</button>

    <app-item *ngFor="let item of scratchpad.items"
        [id]="scratchpad.id" [item]="item"
        [storageService]="storageService"
        (removeItemEvent)="removeItem($event)">
    </app-item>

    <app-popup #newItemPopup headerText="New Item">
        <div class="item">
            <form #newItemForm="ngForm" autocomplete="off">
                <div class="pad-y">
                    <label class="info" for="item">New item</label>
                    <input type="text" id="item" name="item" #focusElement
                        placeholder="Item text" required
                        [(ngModel)]="itemInput">
                </div>
                <div class="actions">
                    <button
                        [disabled]="!newItemForm.form.valid"
                        (click)="addItem(); newItemPopup.hide();">Save</button>
                </div>
            </form>
        </div>
    </app-popup>
    
    <app-popup #editScratchpadPopup headerText="{{scratchpad.name}}">
        <div class="item">
            <div class="info">Actions</div>
            <button (click)="remove()">remove</button>
        </div>
    </app-popup>
</div>

<div *ngIf="scratchpad === undefined">
    <span>Loading / Error</span>
    <button (click)="removeScratchpadEvent.emit(id)">Remove</button>
</div>
