
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active .ellipsis {
    white-space: normal;
    overflow: auto;
    text-overflow: unset;
}

.header {
    padding: .5rem .5rem 0 .5rem;
    margin-bottom: 1rem;
    background-color:#eee;
    border-bottom: 1px solid #ddd;
}

.item input {
    width: 100%;
}

.item {
    border-bottom: 1px solid #eee;
    margin: 0 1rem;
    margin-bottom: .5rem;
}

.item form:focus-within, .item .modify form {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, .23);
    background-color: #fff;
}

.item textarea {
    width: 100%;
    resize: none;
    border: none;
    background: none;
    line-height: normal;
    font-size: 1rem;
    font-family: unset;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.item textarea:focus, .modify textarea {
    border: none;
    outline: none;
}

.arrow::after {
    content: '';
    float: right;
    margin-top: .4rem;
    width: 0;
    height: 0;
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent;
}

.arrow::after {
    border-bottom: none;
    border-top: .4rem solid rgba(0,0,0,.1);
}

.active .arrow::after {
    border-bottom: .4rem solid rgba(0,0,0,.1);
    border-top: none;
}

.arrow:hover::after {
    border-top-color: rgba(0,0,0,.3);
}

.active .arrow:hover::after {
    border-bottom-color: rgba(0,0,0,.3);
}

.arrow {
    cursor: pointer;
}

.info > div {
    color: #666;
    font-size: .8rem;
    display: inline-block;
}

.actions {
    display: flex;
}

.actions button {
    flex: 0;
    padding: .25rem;
}

.actions button {
    color: #666;
    line-height: .8rem;
    border: 0;
    background: none;
}

.actions button:hover {
    color: #000;
    text-decoration: underline;
}

.right {
    float: right;
}

.content {
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.info > div:first-child { margin-left: 0; }
