.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5)
}

.popup-content {
    position: absolute;
    min-width: 50vw;
    max-width: 95vw;
    max-height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header { display: flex;  }
.header h2 { flex: 1 0 auto; }
.header button {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    flex: 0 0 auto;
}
