<div id="app">
    <header>
        <h1>{{title}}</h1>
        <form>
            <form #formElement="ngForm">
                <input type="text" id="scratchpad" name="scratchpad" 
                    required placeholder="New Scratchpad" #scratchpadElement="ngModel"
                    [(ngModel)]="scratchpadInput"/>
                <button [disabled]="!formElement.form.valid"
                    (click)="addScratchpad()">Save</button>
            </form>

        </form>
    </header>

    <div class="scratchpads">
        <app-scratchpad
            *ngFor="let scratchpad of scratchpads"
            class="scratchpad scroll"
            [scratchpad]="scratchpad"
            (removeEvent)="remove($event)" >
        </app-scratchpad>
    
    </div>
</div>
