#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: #000;
    color: #fff;
    flex: 0 0 3rem;
    padding: .2rem;
    display: flex;
    height: 3rem;
}

header h1 { flex: 1 0 auto; }
header .new { flex: 0 0 auto; }

.scratchpads {
    flex: 1 1 0;
    overflow-x: auto;
    padding: .5rem 1rem;
    display: flex;
}

.scratchpad {
    max-height: calc(100vh - 3rem);
    flex: 1 1 0;
    margin: .5rem;
    max-width: 800px;
    min-width: 200px;
    overflow: hidden auto;
}

.scratchpad:first-child { margin-left: auto; }

.scratchpad:last-child { margin-right: auto; }
