<div id="app">
    <header>
        <h1>{{title}}</h1>
        <button (click)="newScratchpadPopup.show()">Add</button>
    </header>

    <div class="scratchpads">
        <app-scratchpad
            *ngFor="let sp of scratchpadViews"
            class="scratchpad card scroll"
            [ngClass]="{'remote': sp.remote}"
            [scratchpadView]="sp"
            (removeScratchpadEvent)="removeScratchpad($event)" >
        </app-scratchpad>
    </div>
</div>

<app-popup #newScratchpadPopup headerText="Add Scratchpad">
    <div class="item">
        <form #createForm="ngForm" autocomplete="off">
            <label class="info" for="scratchpad">New Scratchpad</label>
            <input type="text" id="scratchpad" name="scratchpad"
                required placeholder="Scratchpad name" #focusElement
                [(ngModel)]="scratchpadNameInput"/>

            <div class="pad-y">
                <div class="info">Storage (will be saved to {{remoteInput ? "remote" : "local"}} storage)</div>
                <input type="checkbox" id="remote" name="remote"
                    [(ngModel)]="remoteInput"/>
                <label for="remote" class="toggle">
                    <span [ngClass]="{'active': !remoteInput}">Local</span>
                    <span [ngClass]="{'active': remoteInput}">Remote</span>
                </label>

                <div *ngIf="remoteInput" class="pad-y">
                    <div class="info">
                        Secure
                        (will {{inputSecured() ? "" : "not"}} be secured)
                    </div>
                    <input type="text" id="password" name="password"
                        placeholder="Password" #passwordElement
                        [(ngModel)]="scratchpadPasswordInput"/>
                </div>
            </div>

            <button [disabled]="!createForm.form.valid"
                (click)="addScratchpad(); newScratchpadPopup.hide();">Create</button>
        </form>
    </div>
    <div class="item">
        <form #addForm="ngForm" autocomplete="off">
            <div class="pad-y">
                <label class="info" for="modifyItem">Add scratchpad by ID</label>
                <input type="text" id="scratchpad" name="scratchpad"
                    required placeholder="Scratchpad ID"
                    [(ngModel)]="scratchpadIdInput"/>
            </div>
            <button [disabled]="!addForm.form.valid"
                (click)="addId(); newScratchpadPopup.hide();">Add</button>
        </form>
    </div>
</app-popup>
